<div>
<img class="mainbeer" width="300px" height="300px" src="/images/beer.png" alt="Beer image">
        <ul class="mainul">
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
</div>